* {
  box-sizing: border-box;
}

h1 {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  border-radius: 1em;
  text-align: center;
  margin: 1em auto;
  color:rgb(38, 0, 127);
  font-size: 75px;
  text-transform: uppercase;
}

body {
  background: linear-gradient(to bottom, #33ccff 0%, #ff99cc 100%);
  width: 100%;
  margin: 0;
}

.header {
  text-align: center;
  padding: 32px;
}

.images{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 16px;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px 10px;
  width: 100%;
}

.gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 16px;
  max-width: 1400px;
  margin: 0 auto;
  padding: 20px 10px;
}

.gallery img {
  width: 100%;
  max-width: 350px;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
}

.gallery::after {
  content: "";
  width: 350px;
}

p {
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color:rgb(38, 0, 127);
  font-size: large;
  margin: 1em auto;
}

form {
  width: 60vw;
  max-width: 500px;
  min-width: 300px;
  margin: 0 auto;
  padding-bottom: 2em;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

form li + li {
  margin-top: 1em;
}

label {
  display: block;
  width: 90px;
  text-align: right;
  margin: 0.5rem 0;
}

fieldset {
  border: none;
  padding: 2rem 0;
}

input,
textarea {
  font: 1em 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid rgb(34, 197, 191);
  margin: 10px 0 0 0;
}

input[type="file"] {
  padding: 1px 2px;
}

textarea {
  vertical-align: top;
  height: 5em;
}

.inline {
  width: unset;
  margin: 0 1em 0 0;
  vertical-align: middle;
}

button[type="submit"] {
  display: block;
  width: 60%;
  margin: 1em auto;
  height: 2em;
  font-size: 1.1rem;
  border-color: white;
  min-width: 50px;
  border: 10px;
}

table {
  margin-left: auto;
  margin-right: auto;
  color: rgb(21, 0, 70);
  text-align: center;
  padding: 10px;
  border-spacing: 50px 15px;
  text-transform: uppercase;
}

h2, h3, h4 {
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color:rgb(127, 0, 57);
}

h2 {
  font-style: oblique;
  color:rgb(38, 0, 127)
}

h3 {
  text-transform: uppercase;
}

footer {
  display: block;
  background-color: aquamarine;
  width: 300px;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0.2rem 0.2rem rem 0;
}

h4 {
  font-style: oblique;
  color:rgb(38, 0, 127)
  margin: auto;
  padding-top: 25px;
  font-size: x-large;
}
