* {
  box-sizing: border-box;
}

h1 {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  border-radius: 1em;
  border: 2px solid white;
  text-align: center;
  text-shadow: 2px 2px #000000;
  margin: 1em auto;
  color:rgb(255, 255, 255);
  font-size: 2em;
  text-transform: uppercase;
  max-width: 800px;
}

body {
  background: linear-gradient(to bottom, #33ccff 0%, #ff99cc 100%);
  width: 100%;
  margin: 0;
  height: 100%;
  padding: 0;
}

header {
  justify-content: center;
  margin: 0 auto;
  width: 100%;
  padding: 0px;
  height: 0 auto;
}

.header {
  text-align: center;
  padding: 20px;
  background: linear-gradient(to right, #ffeb55 0%, #ff99d8 100%);
  background-size:100% 100%;
}

.images {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 16px;
  max-width: 600px;
  margin: 0 auto;
  padding-bottom: 30px;
  width: 100%;
}

.gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 16px;
  max-width: 1400px;
  margin: 0 auto;
  padding: 20px 10px;
}

.gallery img {
  width: 100%;
  max-width: 350px;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
}

.gallery::after {
  content: "";
  width: 350px;
}

p {
  text-align: center;
  content: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color:rgb(38, 0, 127);
  font-size: 18px;
  text-transform: uppercase;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 16px;
  max-width: 900px;
  margin: 0 auto;
  padding: 10px 10px;
  width: 100%;
}

form {
  width: 60vw;
  max-width: 500px;
  min-width: 300px;
  margin: 0 auto;
  padding-bottom: 2em;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

form li + li {
  margin-top: 1em;
}

label {
  width: 10px;
  margin: 0.1rem 0;
  font-size: 18px;
}

fieldset {
  border: none;
  padding: 2rem 0;
}

input,
textarea {
  font: 1em 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  width: 100%;
  border: 1px solid rgb(34, 197, 191);
  margin: 10px 0 0 0;
}

input[type="file"] {
  padding: 1px 2px;
}

textarea {
  vertical-align: top;
  height: 5em;
}

.inline {
  width: unset;
  margin: 0 1em 0 0;
  vertical-align: middle;
}

button[type="submit"] {
  display: block;
  width: 60%;
  margin: 1em auto;
  height: 2em;
  font-size: 1.1rem;
  border-color: white;
  min-width: 50px;
  border: 10px;
}

table {
  margin-left: auto;
  margin-right: auto;
  color: rgb(21, 0, 70);
  text-align: center;
  padding: 10px;
  border-spacing: 50px 15px;
  text-transform: uppercase;
}

h2, h3, h4, h5 {
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h2 {
  font-style: oblique;
  color:rgb(255, 255, 255);
  background-color: rgba(6, 4, 54, 0.7);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 16px;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px 10px;
  width: 100%;
  font-size: 36px;
  border: 3px solid rgba(255, 255, 255, 0.4);
  border-radius: 50px;
}

h3 {
  font-style: oblique;
  color:rgb(255, 255, 255);
  background-color: rgb(54, 4, 4, 0.7);
  width: 400px;
  height: 55px;
  margin-left: auto;
  margin-right: auto;
  font-size: 36px;
  border: 3px solid rgba(255, 255, 255, 0.4);
  border-radius: 50px;
}

footer {
  background-color: aquamarine;
  height: 120px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 5px;
  border-top:rgb(247, 243, 255) solid;
  font-weight: 100;
}

h4 {
  font-style: oblique;
  color:rgb(38, 0, 127)
}

h5 {
  font-size: 20px;
  padding: 0;
  margin-top: 10px;
  margin-bottom: 0px;
  background: linear-gradient(to right, #ffeb55 0%, #ff99d8 100%);
  background-size:100% 100%;  width: 130px;
  height: 23px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
}

#choose {
  color: rgb(255, 255, 255);
  background-color: rgb(52, 61, 165);
  text-align: center;
  width: 300px;
}

select {
  border: 0;
  background: transparent;
  font-size: 14px;
  font-weight: 100;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding: 2px 10px;
  width: 300px;
  text-transform: uppercase;
}

.anchor2 {
  font-size: 17px;
  text-transform: uppercase;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: rgb(64, 0, 255);
  background: rgb(252, 152, 255);
  border-radius: 10px;
  border: 3px solid white;
  }

.anchor {
  text-transform: uppercase;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-right: 50px;
  font-size: 17px;
  color: rgb(0, 87, 13);
  background: rgb(0, 255, 123);
  border-radius: 10px;
  border: 3px solid white;
  }

a {
  transition: color .5s ease-in-out, box-shadow .5s ease-in-out;
}

a:link { 
  text-decoration: none;
  font-weight: 600;
}

a:visited { 
  text-decoration: none;
  font-weight: 600;  
}

a:hover { 
  text-decoration: none;
  color: rgb(255, 0, 200);
  background: rgb(225, 255, 0);
  font-weight: 600; 
}

a:active { 
  text-decoration: none; 
}

.images:hover {
  filter: grayscale(100%);
}

img:hover {
  filter: grayscale(100%);
}

.facts {
  font-family: 'Arial Narrow Bold', sans-serif;
  font-size: 25px;
  font-weight: 700;
}

.title-word {
  animation: color-animation 0.5s linear infinite;
  font-size: 30px;
}

.title-word-1 {
  --color-1: #ffff00;
  --color-2: #ff6f00;
  --color-3: #ff0400;
}

.title-word-2 {
  --color-1: #ffee00;
  --color-2: #ff8000;
  --color-3: #ff0000;
}

.title-word-3 {
  --color-1: #fff700;
  --color-2: #ffae00;
  --color-3: #ff0026;
}

.title-word-4 {
  --color-1: #ffea00;
  --color-2: #dfd353;
  --color-3: #ff00a2;
}

.title-word-5 {
  --color-1: #eaff00;
  --color-2: #55ff00;
  --color-3: #ff00e1;
}

.title-word-6 {
  --color-1: #eeff00;
  --color-2: #15ff00;
  --color-3: #dd00ff;
}

.title-word-7 {
  --color-1: #eaff00;
  --color-2: #00ff04;
  --color-3: #5900ff;
}

@keyframes color-animation {
  0%    {color: var(--color-1)}
  32%   {color: var(--color-2)}
  33%   {color: var(--color-3)}
  65%   {color: var(--color-4)}
  66%   {color: var(--color-5)}
  99%   {color: var(--color-6)}
  100%  {color: var(--color-7)}
}

svg {
  font-size: 150px;
  height: auto;
  width: auto;
  margin: 0 auto;
  padding: 0 auto;
}

.text-copy {
  fill: none;
  stroke: white;
  stroke-dasharray: 6% 29%;
  stroke-width: 2.5px;
  stroke-dashoffset: 0%;
  animation: stroke-offset 2.5s infinite linear;
}

.text-copy:nth-child(1){
stroke: #00fbff;
animation-delay: -1;
}

.text-copy:nth-child(2){
stroke: #ff006a;
animation-delay: -2s;
}

.text-copy:nth-child(3){
stroke: #a200ff;
animation-delay: -3s;
}

.text-copy:nth-child(4){
stroke: #ff9100;
animation-delay: -4s;
}

.text-copy:nth-child(5){
stroke: #ff008c;
animation-delay: -5s;
}

.text-copy:nth-child(6){
  stroke: #008cff;
  animation-delay: -6s;
  }

@keyframes stroke-offset{
100% {stroke-dashoffset: -35%;}
}
